*,
::before,
::after {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: serif;
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	width: 100%;
	background-color: #444;
}

.left {
	height: 100vh;
}

.right {
	height: 100vh;
	width: 100%;
	background: linear-gradient(190deg, #e7b6b6 0%, #f5df5f 33%, #91e746 70%);
}
